.ms-container {
	width: 406px;
	overflow: hidden;
}
.ms-container .ms-selectable,
.ms-container .ms-selection {
	background: #eff9f9;
}
.ms-container .ms-selectable ul,
.ms-container .ms-selection ul {
	margin: 0 !important;
	background: #fff;
}
.ms-container .ms-selectable input,
.ms-container .ms-selection input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	width: 100%;
	margin-bottom: 3px;
}
.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
	background-color: #2C8EC0;
}
